.login-user {
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}

.search {
    width: 100%;
    font-size: 14px;
    margin: 20px 10px;
}

.search__input {
    width: 80%;
    border: 1px solid gray;
    padding: 5px 10px;
}

.search__button {
    width: 15%;
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.link-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.create-shop,
.admin-mail {
    width: 40%;
    padding: 5px;
    background-color: #2589d0;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 10px 0 0;
}

.owner {
    font-size: 14px;
    text-align: center;
}

.owner__table {
    table-layout: fixed;
    width: 100%;
}

.table-row {
    border-bottom: 1px solid gray;
    height: 50px;
}

.table-header,
.table-data {
    width: 40%;
    vertical-align: middle;
    padding: 0 5px;
    text-align: center;
}

.update-btn,
.detail-btn {
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px 10px;
    width: 100px;
}

.pagination {
    margin-top: 20px;
}

.pagination-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    list-style-type: none;
    padding: 0;
}

.pagination-2 a {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 1px;
    background-color: #f2f2f2;
    color: #2589d0;
}

.pagination-2 a:not(:hover) {
    text-decoration: none;
}

.pagination-2 .current a {
    background-color: #2589d0;
    color: #fff;
    pointer-events: none;
}

.pagination-2 .prev a,
.pagination-2 .next a {
    gap: 0 4px;
    width: auto;
    padding: .5em .8em;
    line-height: 1;
}

.pagination-2 .prev a::before,
.pagination-2 .next a::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    content: '';
}

.pagination-2 .prev a::before {
    border-bottom: 1px solid #2589d0;
    border-left: 1px solid #2589d0;
}

.pagination-2 .next a::after {
    border-top: 1px solid #2589d0;
    border-right: 1px solid #2589d0;
}

/* レスポンシブデザイン（768px以上の場合） */
@media screen and (min-width:768px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
        
    .login-user {
        font-size: 20px;
        margin: 20px auto;
    }

    .search {
        width: 100%;
        font-size: 16px;
        margin: 25px 0;
    }

    .link-area {
        justify-content: start;
    }
    .create-shop,
    .admin-mail {
        width: 150px;
        padding: 5px;
        margin: 15px 20px 0 0;
    }

    .owner {
        font-size: 16px;
    }

    .table-row {
        border-bottom: 1px solid gray;
        height: 50px;
    }

    .table-header,
    .table-data {
        width: 40%;
        vertical-align: middle;
        padding: 0 5px;
        text-align: center;
    }

    .update-btn,
    .detail-btn {
        background-color: gray;
        border-radius: 5px;
        text-align: center;
        color: white;
        padding: 5px 10px;
        width: 100px;
    }

    .pagination {
        margin-top: 20px;
    }

    .pagination-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 8px;
        list-style-type: none;
        padding: 0;
    }

    .pagination-2 a {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 1px;
        background-color: #f2f2f2;
        color: #2589d0;
    }

    .pagination-2 a:not(:hover) {
        text-decoration: none;
    }

    .pagination-2 .current a {
        background-color: #2589d0;
        color: #fff;
        pointer-events: none;
    }

    .pagination-2 .prev a,
    .pagination-2 .next a {
        gap: 0 4px;
        width: auto;
        padding: .5em .8em;
        line-height: 1;
    }

    .pagination-2 .prev a::before,
    .pagination-2 .next a::after {
        display: inline-block;
        transform: rotate(45deg);
        width: .3em;
        height: .3em;
        content: '';
    }

    .pagination-2 .prev a::before {
        border-bottom: 1px solid #2589d0;
        border-left: 1px solid #2589d0;
    }

    .pagination-2 .next a::after {
        border-top: 1px solid #2589d0;
        border-right: 1px solid #2589d0;
    }

}