body {
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: #3367d6;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
    z-index: 2001;
    position: relative;
}

.menu-line {
    display: block;
    height: 1.5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.line1 {
    width: 15px;
}

.line2 {
    width: 20px;
}

.line3 {
    width: 10px;
}

.menu--open .line1,
.menu--open .line3 {
    width: 30px;
}

.menu--open .line1 {
    transform: rotate(45deg);
    position: relative;
    top: 2px;
    left: -5px;
}

.menu--open .line2 {
    opacity: 0;
}

.menu--open .line3 {
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
    left: -5px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    padding-top: 50px;
}

.menu--open {
    display: block;
}

.menu__item {
    display: block;
    padding: 20px;
    color: #3367d6;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    cursor: pointer;
}

.menu__item-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
}

.logo {
    margin-left: 10px;
    font-size: 20px;
    color: #3367d6;
    font-weight: bold;
}

.main {
    margin-top: 2vw;
}

.pagination {
    margin-top: 20px;
}

.pagination-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    list-style-type: none;
    padding: 0;
}

.pagination-2 a {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 1px;
    background-color: #f2f2f2;
    color: #2589d0;
}

.pagination-2 a:not(:hover) {
    text-decoration: none;
}

.pagination-2 .current a {
    background-color: #2589d0;
    color: #fff;
    pointer-events: none;
}

.pagination-2 .prev a,
.pagination-2 .next a {
    gap: 0 4px;
    width: auto;
    padding: .5em .8em;
    line-height: 1;
}

.pagination-2 .prev a::before,
.pagination-2 .next a::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    content: '';
}

.pagination-2 .prev a::before {
    border-bottom: 1px solid #2589d0;
    border-left: 1px solid #2589d0;
}

.pagination-2 .next a::after {
    border-top: 1px solid #2589d0;
    border-right: 1px solid #2589d0;
}

.shop-card__wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.shop-card {
    width: 48%;
    margin: 1% 0.5%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(60, 59, 59);
}

.shop-card__img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.shop-card__txt {
    padding: 10px 5px;
}

.shop-card__shop-name {
    font-size: 4vw;
    font-weight: bold;
}

.shop-card__txt-flex {
    display: flex;
    font-size: 3vw;
    margin: 5px 0;
}

.shop-card__area {
    margin-right: 5px;
}

.shop-card__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
}

.btn-submit {
    width: 60%;
    padding: 5px 8px;
    text-align: center;
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
}

.favorite-btn {
    width: 35px;
    fill: gray;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.favorite-btn.favorited {
    fill: red;
}

.evaluation {
    margin: 20px 0;
}

.error {
    display: block;
    color: red;
}

.alert {
    display: block;
    background-color: red;
    color: white;
    border: 2px double red;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    body {
        margin: 2vw 8vw;
    }

    .menu-button {
        height: 45px;
        width: 45px;
    }

    .line1 {
        width: 22px;
    }

    .line2 {
        width: 30px;
    }

    .line3 {
        width: 15px;
    }

    .menu--open .line1,
    .menu--open .line3 {
        width: 40px;
    }

    .menu--open .line1 {
        top: 2px;
        left: -2px;
    }

    .menu--open .line3 {
        top: -1px;
        left: -3px;
    }
    .menu {
        padding-top: 80px;
    }

    .menu__item {
        font-size: 30px;
    }

    .logo {
        font-size: 40px;
    }

        .shop-card {
        width: 24%;
    }

    .shop-card__shop-name {
        font-size: 2vw;
    }

    .shop-card__txt-flex {
        font-size: 1.5vw;
        margin: 0.5vw 0;
    }

    .shop-card__btn {
        font-size: 1.5vw;
    }

    .btn-submit {
        margin: 0.5vw 0;
    }

    .favorite-btn {
        width: 50px;
        color: gray;
    }
    .favorite-btn.favorited {
        color: red;
    }

}