body {
    margin: 2vw 8vw;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu-button {
    background-color: #3367d6;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
    z-index: 2001; /* メニューより上に表示されるように */
    position: relative;
}

.menu-line {
    display: block;
    height: 1.5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* 各ラインの長さを設定 */
.line1 {
    width: 15px;
}

.line2 {
    width: 20px;
}

.line3 {
    width: 10px;
}

/* メニューが開いたときの変形アニメーション */
.menu--open .line1,
.menu--open .line3 {
    width: 30px;
}

.menu--open .line1 {
    transform: rotate(45deg);
    position: relative;
    top: 2px;
    left: -5px;
}

.menu--open .line2 {
    opacity: 0;
}

.menu--open .line3 {
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
    left: -5px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000; /* メニューの表示順 */
    padding-top: 50px;
}

/* メニューが表示された時 */
.menu--open {
    display: block;
}

/* メニュー項目のスタイル */
.menu__item {
    display: block;
    padding: 20px;
    color: #3367d6;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
}

.logo {
    margin-left: 10px;
    font-size: 20px;
    color: #3367d6;
    font-weight: bold;
}

.main {
    margin-top: 2vw;
}

/* レスポンシブ対応（768px以上の場合） */
@media screen and (min-width: 768px) {
    .menu-button {
        height: 45px;
        width: 45px;
    }

    /* 各ラインの長さを設定 */
    .line1 {
        width: 22px;
    }

    .line2 {
        width: 30px;
    }

    .line3 {
        width: 15px;
    }

    /* メニューが開いたときの変形アニメーション */
    .menu--open .line1,
    .menu--open .line3 {
        width: 40px;
    }

    .menu--open .line1 {
        top: 2px;
        left: -2px;
    }

    .menu--open .line3 {
        top: -1px;
        left: -3px;
    }
    .menu {
        padding-top: 80px;
    }

    .menu__item {
        font-size: 30px;
    }

    .logo {
        font-size: 40px;
    }

}