.confirm {
    width: 100%;
    margin: 40px auto;
}

.confirm-form {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 40px 10px;
    box-shadow: 2px 2px 4px rgb(60, 59, 59);
    text-align: center;
}

.confirm-txt {
    font-size: 18px;
    font-weight: 500;
    border: none;
}

.confirm-msg {
    color: red;
    padding: 15px;
    font-size: 12px;
    text-align: start;
}

.confirm__form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.confirm__form-btn-txt {
    width: 60%;
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

/* レスポンシブデザイン（769px以上の場合） */
@media screen and (min-width:768px) {
    .confirm {
        width: 550px;
        display: flex;
        justify-content: center;
    }

    .confirm-form {
        width: 90%;
        padding: 80px 10px;
    }

    .confirm-txt {
        font-size: 30px;
    }

    .confirm-msg {
        padding: 25px;
        font-size: 16px;
    }
    .confirm__form-btn-txt {
        font-size: 16px;
    }
}