.shop-list {
    width: 100%;
    margin: 20px 0;
}

.login-owner {
    font-weight: bold;
    text-align: center;
}

.shop-card {
    padding-bottom: 30px;
}

@media screen and (min-width:768px) {
    .login-owner {
        font-size: 25px;
        margin-bottom: 30px;
    }

}