.content-are {
    width: 100%;
}

#success-message {
    width: 40%;
    background-color: #2589d0;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: 5px double white;
}

.login-user {
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.left {
    width: 50%;
    padding: 10px;
}

.register__btn {
    width: 100%;
    background-color: #3367d6;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.right {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.section {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.header-shop,
.shop-content {
    width: 100%;
    display: flex;
    font-size: 16px;
    height: 20px;
}

.header-shop {
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.header-label {
    width: 32%;
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
}

.shop-content {
    align-items: baseline;
    justify-content: space-between;
    height: 30px;
    margin-top: 10px;
}

.shop_name-input,
.btn-form {
    width: 32%;
}

.shop-update__btn,
.shop-reserved__btn {
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .login-user {
        font-size: 22px;
    }

    .flex {
        display: flex;
        margin-top: 40px;
    }

    .left {
        width: 30%;
        font-size: 18px;
    }

    .register__btn {
        width: 100%;
    }

    .right {
        width: 70%;
        padding: 20px;
    }

    .section {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .header-shop,
    .shop-content {
        font-size: 18px;
    }

    .shop-content {
        height: 40px;
    }

}