.update-area {
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}

.table-row {
    height: 60px;
}

.table-header {
    width: 42%;
    vertical-align: middle;
    padding: 0px 5px;
    background-color: #3367d6;
    color: white;
}

.table-date,
.table-date__btn {
    width: 58%;
    vertical-align: middle;
    padding: 0 5px;
}

.table-date__btn {
    text-align: center;
}

.input-area {
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.update-btn {
    background-color: #3367d6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* レスポンシブデザイン（768px以上の場合） */
@media screen and (min-width:768px) {
    .update-area {
        width: 60%;
        font-size: 18px;
    }

}