.reserve-info {
    width: 85%;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(60, 59, 59);
    padding: 10px;
}

.info-ttl {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-table {
    width: 100%;
    table-layout: fixed;
    line-height: 28px;
}

.table-header {
    width: 40%;
}

.table-data {
    width: 60%;
    overflow-wrap: break-word;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    font-weight: bold;
}

#card-number,
#card-expiry,
#card-cvc {
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 10px; 
}

#card-errors {
    color: #fa755a;
    margin-top: 10px;
}

.pay-btn {
    width: 120px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    text-align: center;
    display: block;
}

#card-brand-logo {
    position: absolute;
    top: 22px;
    right: 0;
}

@media screen and (min-width:768px) {
    .reserve-info {
        width: 600px;
        padding: 25px;
        font-size: 18px;
    }

    .info-ttl {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .info-table {
        line-height: 28px;
    }

    .form-group {
        margin: 10px 0 25px; 
    }

    .pay-btn {
        width: 160px;
        padding: 10px;
        font-size: 20px;
    }

}