.register {
    width: 100%;
    margin: 40px auto;
}

.register-form {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(60, 59, 59);
}

.register-txt {
    font-size: 1rem;
    background-color: #3367d6;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
}

.register__form-area {
    padding: 30px 35px;
}

.container {
    height: 60px;
}

.input-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.img {
    width:25px;
}

.user_input,
.mail_input,
.password_input {
    width: 90%;
    padding: 5px 10px 0;
    border-bottom: 1px solid black;
}

.error {
    display: block;
    color: red;
    font-size: small;
    padding: 5px 0;
}
.register__form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.register__form-btn-txt {
    width: 90px;
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

/* レスポンシブデザイン */
@media screen and (min-width:768px) {
    .register-form {
        width: 400px;
        margin: 0 auto;
    }

    .register-txt {
        font-size: 20px;
        padding: 1rem;
    }

    .register__form-area {
        padding: 38px;
    }

    .img {
        width:30px;
    }

    .user_input,
    .mail_input,
    .password_input {
        font-size: 20px;
    }

    .error {
        font-size: 15px;
    }

}