.reserve-content {
    justify-content: space-between;
}

.shop-detail__txt{
    justify-content: start;
}

.reserve-area {
    width: 45%;
}

.reserved {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.reserved__ttl {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    background: linear-gradient(transparent 50%, #fddb8a 50%);
}

.reserved__table {
    width: 100%;
    margin-top: 5px;
}

.table-row {
    height: 1.2rem;
}

.table-header {
    width: 45%;
    font-size: 12px;
}

.table-data {
    width: 55%;
    font-size: 11px;
    padding-left: 5px;
}

.reserve-change {
    background-color: #507bd9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 330px;
    position: relative;
}

.reserve-change__ttl {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 5px 0;
    color: white;
}

.custom-date {
    font-size: 11px;
}

.select {
    font-size: 11px;
}

.reserve-detail {
    background-color: #7297e6;
    font-size: 14px;
    padding: 10px 5px;
}

.reserve__table {
    font-size: 11px;
}

tr {
    height: 30px;
}

th, td {
    width: 50%;
    font-size: 11px;
}

.reserve__btn {
    left: 0px;
    color: white;
    font-size: 12px;
}

@media screen and (min-width:768px) {
    .reserved {
        padding: 20px;
        margin-bottom: 20px;
    }

    .reserved__ttl {
        font-size: 18px;
    }

    .reserved__table {
        width: 100%;
        margin-top: 10px;
    }

    .table-row {
        height: 1.5rem;
    }

    .table-header {
        width: 40%;
        font-size: 16px;
    }

    .table-data {
        width: 60%;
        font-size: 16px;
    }

    .reserve-change {
        padding: 20px;
        margin-bottom: 20px;
        height: 370px;
    }

    .reserve-change__ttl {
        font-size: 18px;
        margin: 0 0 10px;
    }

    .custom-date {
        font-size: 16px;
    }

    .select {
        font-size: 16px;
    }

    .reserve-detail {
        font-size: 16px;
        padding: 20px;
    }

    .reserve__table {
        font-size: 16px;
    }

    tr {
        height: 1.2rem;
    }

    th, td {
        font-size: 16px;
    }

    th {
        width: 40%;
    }

    td {
        width: 60%;
    }

    .reserve__btn {
        font-size: 16px;
    }

}