.reserve-confirm {
    width: 300px;
    margin: 40px auto;
}

.message {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 40px 10px;
    box-shadow: 2px 2px 4px rgb(60, 59, 59);
    text-align: center;
}

.message-txt {
    font-size: 16px;
    border: none;
    padding: 1.5rem;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

.message-txt-p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: start;
    padding: 5px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-txt {
    width: 100px;
    background-color: #3367d6;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 0.5rem;
}

@media screen and (min-width:768px) {
    .reserve-confirm {
        width: 550px;
        display: flex;
        justify-content: center;
    }

    .message {
        width: 90%;
        padding: 80px 10px;
    }

    .message-txt {
        font-size: 30px;
    }

    .message-txt-p {
        margin-bottom: 20px;
        font-size: 22px;
        padding: 20px 35px;
    }

    .btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-txt {
        width: 140px;
        font-size: 22px;
    }
}